/* main.scss */
@import "bootstrap";
@import "bootstrap/theme";

$breakpoint-tablet: 768px;

body{
  color: #AAB5BA;
  font-size: 12px;
  *:focus {
      outline: none;
      font-size: 12px;
      color: #AAB5BA;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #56646A;
      opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #56646A;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
      color: #56646A;
  }
  header{
    .navbar-toggle {
      border: none;
      background: transparent !important;

      &:hover {
        background: transparent !important;
      }

      .icon-bar {
        width: 22px;
        transition: all 0.2s;
      }
      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      .middle-bar {
        opacity: 0;
      }
      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    }
    height: 86px;
    background-color: #374047;
    position: relative;
    .logo{
      margin: 9px 0 10px;
      width: 195px;
    }
    .search-bar{
      width: 150px;
      border-radius: 10px;
      background-color: #273036;
      height: 22px;
      margin: 16px 0 10px;
      position: relative;
      .icon{
        float: right;
        padding: 4px 10px;
        font-size: 10px;
        cursor: pointer;
        i{
          color: #BEBDBD;
          top: 2px;
        }
      }
      input{
        background: rgba(255, 255, 255, 0);
        border: 0;
        color: #56646A;
        width: 80%;
        height: 12px;
        font-size: 8px;
        margin: 0 0 0 6px;
        position: absolute;
        top: 24%;
        left: 5px;
      }

    }
    .search-bar-mobile{
      height: 30px;
      width: 30px;
      border-radius: 3px;
      background-color: #273036;
      position: relative;
      top: 7px;
      .icon{
        padding: 7px 10px;
        font-size: 12px;
        cursor: pointer;
        i{
          color: #BEBDBD;
        }
      }
    }
    .menu-bar{
      height: 25px;
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      color: #FFFFFF;
      line-height: 25px;
      position: relative;
      bottom: 0;

      .menu-item{
        height: 27px;
        background-color: #273036;
        flex-grow: 1;
        text-align: center;
        border-left: 1px solid #303942;
        font-weight: bold;
        &:hover{
          background-color: #64C772;
          cursor: pointer;
          transition: .2s ease-in-out;

        }
      }
      .menu-item:first-child{
        border-radius: 5px 0 0 0;
      }
      .menu-item:last-child{
        border-radius: 5px 5px 0 0;
        margin-left: 10px;
        background-color: #64C772;
      }
      .menu-item:nth-last-child(2){
        border-radius: 0 5px 0 0;
      }
    }
    .color-bar{
      height: 3px;
      background-image: url(/src/images/color-bar.png);
      position: relative;
      bottom: -1px;
    }
  }
  header.mobile{
    height: 49px;
    .search-on-mobile{
      height: 30px;
      width: 100%;
      border-radius: 3px;
      background-color: #374047;
      position: absolute;
      top: 49px;
      left: 0;
      padding: 20px;
      z-index: 10;
      display: none;
      input{
        background: rgba(255, 255, 255, 0);
        border: 0;
        color: #56646A;
        width: 90%;
        height: 21px;
        font-size: 13px;
        margin: 0 0 0 6px;
        position: absolute;
        top: 24%;
        left: 5px;
      }
        .icon{
          padding: 7px 10px;
          font-size: 12px;
          cursor: pointer;
          position: absolute;
          right: 5px;
          top: 5px;

          i{
            color: #BEBDBD;
          }
        }
    }
    .hamburger{
      height: 30px;
      width: 30px;
      border-radius: 3px;
      background-color: #273036;
      position: absolute;
      top: 7px;
      right: 56px;
      background-image: url(/src/images/burgermenu.png);
      background-repeat: no-repeat;
      background-size: 20px;
      background-position-y: 6px;
      background-position-x: 5px;
    }
    .logo{
      width: 120px;
      margin: 15px 0 15px;
    }
    .mobile-menu{
      display: none;
      position: absolute;
      height: auto;
      width: 100%;
      background-color: #374047;
      top: 49px;
      left: 0;
      z-index: 100;
      a{
        border-bottom: 1px dashed #ccc;
        display: block;
        .menu-item{
          padding: 12px 10px 12px;
          font-size: 13px;
          text-transform: uppercase;
          color: #52CC82;
          font-weight: bold;
        }
        &:last-child{
          border: none;
        }
      }

    }
  }

  main{
    padding: 30px 0;
    .main-left{
      article{
        .article-header{
          clear: both;
          float: none;
          height: 20px;
          .date{
            color: #4295BF;
            font-size: 11px;
            font-weight: bold;
          }
          nav{
            margin: 0;
            padding: 0;
            ul{
              margin: 0;
              padding: 0;
              li{
                font-weight: bold;
                display: inline-block;
                list-style-type: none;
                padding: 0 6px;
                margin: 0;
                font-size: 11px;
              }
            }
          }
        }

        h1.title{
          font-size: 45px;
          color: #303942;
          font-weight: bold;
          margin: 18px 0 10px;
          display: block;
        }
        .post-meta{
          font-size: 10px;
          font-weight: bold;
          span::after{
            content: "\00B7";
            padding: 0 0 0 8px;
            transform: scale(2.5);
          }
          .author{
            color: #D04F34;
            padding-right: 4px;
          }
          .category{
            padding-right: 4px;
            color: #52CC82;
          }
          .comments{
            padding-right: 4px;
            color: #2781A6;
          }
        }
        .post-body{
          padding-top: 50px;

          img{
            border: 5px solid #ddd;
          }
          p{
            padding: 15px 0 0;
            a{
              color: #5CA6CD;
            }
          }

        }
      } /** End of article */
    }

    .main-right{
      .social-icons{
        top: 10px;
        position: relative;
        height: 30px;
        ul {
          margin: 0;
          padding: 0;
          li{
            list-style-type: none;
            float: left;
            height: 30px;
            width: 30px;
            background-repeat: no-repeat;
            background-image: url('/src/images/social_normal.png');
            background-position: -121px 0px;
            background-size: cover;
            cursor: pointer;
            margin: 0 5px 0 0;
            padding: 0;
            &:hover{
              background-image: url('/src/images/social_hover.png');
            }
            &.twitter{
              background-position: 0 0;
            }
            &.google{
              background-position: -161px 0px;
            }
            &.youtube{
              background-position: -41px 0px;
            }
            &.insta{
              background-position: -202px 0px;
            }

            @media (max-width: $breakpoint-tablet) {
              margin: 0 6% 0 0;
            }
          }
        }
        @media (max-width: $breakpoint-tablet) {
          height: 55px;
        }
      }
      .img-left-side{
        width: auto;
        float: none;
        clear: both;
        margin: 45px 0 0;
      }
      p{
        padding: 30px 0;
      }
      .highlighted{
          background-color: #EAEEF1;
          border-radius: 5px;
          padding: 10px 20px 30px;
          h3{
            margin: 10px 0 10px;
            font-size: 18px;
          }
          ul{
            padding: 0;
            margin: 0;
            li{
              list-style-type: none;
              padding: 1px 30px;
              margin: 25px 0 0 0;
              background-image: url(/src/images/green_tick.png);
              background-repeat: no-repeat;
              background-size: 15px;
              background-position: left 4px;
            }
          }
      }
    }

  } /** End of main */

}
